# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_PARADIGM_SHIFT_LEFT
	def_bool $(shields_list_contains,paradigm_shift_left)

config SHIELD_PARADIGM_SHIFT_RIGHT
	def_bool $(shields_list_contains,paradigm_shift_right)
